table {
    border-collapse: collapse;
    width: 100%;
    float: left;
    margin: 0 0 2em;
}
th {
    padding: 0.35em 0 .35em;
    font-weight: 400;
    text-align: left;
    font-size: 1.25em;
}
tr {
    border-bottom: 2px solid #ddd;
}