* {
    padding: 0;
    margin: 0;
    background-color: rgb(155, 187, 221);
}

a {
    text-decoration-line: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header */
header {
    padding: 10px;
    width: 800px;
    max-width: 1000px;
}

.list_hdnav {
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

.hd_bt {
    margin-left: 10px;
}

/* main */
main {
    background-color: white;

}

#list_tb {
    background-color: white;
    width: 750px;
    max-width: 950px;
}

#list_tb th, #list_tb td , #list_tb a{
    background-color: white;
}

#list_tb td {
    border-bottom: 2px solid rgb(155, 187, 221);
    padding: 5px;
}

/* article */

#posting_tb {
    background-color: white;
    width: 750px;
    max-width: 950px;
    margin-top: 50px;
}

#posting_tb th, #posting_tb td {
    background-color: white;
    padding: 10px;
}

#posting_tb th , article h3{
    margin-top: 10px;
    background-color: white;
    text-align: left;
    font-size: 30px;
    color: gray;
}

#description {
    text-align: left;
    height: 600px;
    vertical-align: top;
}

.post_de {
    font-size: 15px;
    text-align: right;
    vertical-align: bottom;
    width: 160px;
}