* {
    padding: 0;
    margin: 0;
}

a {
    text-decoration-line: none;
    color: black;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* header */
header {
    padding: 10px;
    width: 80%;
}

.list_hdnav {
    display: flex;
    justify-content: right;
    list-style-type: none;
}

/* main */
main {
    width: 100%;
    display: flex;
    justify-content: center;
}

#list_tb {
    width: 80%;
}

#list_tb th {
    border-bottom: 1px solid #aaaaaa;
    padding: 7px;
}

#list_tb td {
    border-bottom: 1px solid #aaaaaa;
    padding: 5px;
}

#li_no {width: 40px;}

#li_title {
    padding: 0 20px;
    text-align: left;
}

#li_writer {width: 80px;}

#li_day {width: 50px;}

.list_article {text-align: center;}

/* article */
article {
    border-bottom: solid #aaa 1px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}

#posting_tb {
    width: 750px;
    max-width: 950px;
    margin-top: 50px;
    border: #aaa 1px solid;
}

#posting_tb th, #posting_tb td {
    padding: 10px;
}

#posting_tb th {
    text-align: left;
    font-size: 30px;
}

#description {
    text-align: left;
    width: 744px;
    height: 200px;
    vertical-align: top;
}

.post_de {
    font-size: 16px;
    text-align: right;
    vertical-align: bottom;
    width: 160px;
}

#art_div {
    display: flex;
    justify-content: flex-end;    
}

/* 버튼들 (a: 로그인, 회원가입, 글쓰기, 목록, 수정 / form: 삭제) */

.buttons , .hd_bt{
    border: none;
    background-color: transparent;
    font-size: 15px;
    font-weight: bold;
    margin: 10px 0 0 10px;
    padding: 3px;
    border-radius: 3px;
}

.buttons:hover , .hd_bt:hover {
    background-color: #bebebe;
}
